.Main {
  margin-top: 5%;
}

img {
  text-align: center;
}

.Grid-container {
  margin: 5% auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, minmax(50px, auto));
  row-gap: 10px;
  column-gap: 20px;

  height: 100%;
}

.alert-paragraph {
  color: white;
  padding: 7.5%;
  margin: 5% auto;
  font-size: 1.2rem;
  font-weight: bold;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alert-paragraph.more {
  transform: scale(1);
}

.lone-grid-item {
  font-size: 1.2rem;
  text-align: center;
  color: white;

  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease-in-out;
}

.lone-grid-item:hover {
  transform: scale(1.05);
}

.Current {
  /* background-color: grey; */
  /* border-radius: 10px; */
  padding: 3% 5%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* margin: auto; */
}
.Current img {
  margin: auto;
}

.Hourly {
  padding: 15%;
  border-radius: 15px;
  margin: 25% 0;
}

.Daily {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.Daily img {
  height: 70px;
}

.Current-grid {
  grid-column: 1/11;
  grid-row: 1/4;
}

.Hourly-grid-1 {
  grid-column: 1/3;
  grid-row: 4/6;
}
.Hourly-grid-2 {
  grid-column: 3/5;
  grid-row: 4/6;
}
.Hourly-grid-3 {
  grid-column: 5/7;
  grid-row: 4/6;
}
.Hourly-grid-4 {
  grid-column: 7/9;
  grid-row: 4/6;
}
.Hourly-grid-5 {
  grid-column: 9/11;
  grid-row: 4/6;
}

.Daily-grid-1 {
  border-top: 1px solid white;
  grid-column: 1/11;
  grid-row: 6/7;
}
.Daily-grid-2 {
  grid-column: 1/11;
  grid-row: 7/8;
}
.Daily-grid-3 {
  grid-column: 1/11;
  grid-row: 8/9;
}
.Daily-grid-4 {
  grid-column: 1/11;
  grid-row: 9/10;
}
.Daily-grid-5 {
  grid-column: 1/11;
  grid-row: 10/11;
}
.Daily-grid-6 {
  grid-column: 1/11;
  grid-row: 11/12;
}
.Daily-grid-7 {
  grid-column: 1/11;
  grid-row: 12/13;
}

@media only screen and (max-width: 720px) {
  .Grid-container {
    margin: 2.5% auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, minmax(50px, auto));
    row-gap: 10px;
    column-gap: 20px;

    height: 100%;
  }

  .Hourly {
    font-size: 0.95rem;
  }

  .Daily {
    font-size: 0.92rem;
  }
}
