:root {
  --primary-bg-color: #4f6352;
  /* --primary-bg-color: #bd6ee6; */
  --secondary-bg-color: #876a96;
  --tertiary-bg-color: #d7c1e0;
  --quartenary-bg-color: #edeff2;
  --cinq-bg-color: #e6ae73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
  background-color: cornflowerblue;
  font-family: "Abel", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/1.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  /* width: 100%; */

  /* background-color: #b5b8e8; */
}

.main-container {
  width: 100%;
  /* margin: 0 auto; */
  flex: 1 0 auto;
  /* background-color: var(--primary-bg-color); */
  text-align: center;
  transform: scale(0.88);
}
